<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Reed Tyhuis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css">

    <!-- Font Awesome Icons kit -->
    <script src="https://kit.fontawesome.com/e73d6665e1.js" crossorigin="anonymous"></script>
    

    <title>Reed Tyhuis</title>
</head>
<body>


    <div id="hide">
      <div id="drop-down" class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center">
          <a href="/"><h1 class="page">HOME</h1></a> 
          <a href="/about"><h1 class="page">ABOUT</h1></a> 
          <a href="/contact"><h1 class="page">CONTACT</h1></a> 
        </div>
      </div>
    </div>
    


    <!-- HOME, ABOUT, CONTACT -->
    <nav class="navbar fixed-top">
      <div class="container-fluid">
        <a href="/"><h3 class="navbar-brand brand"><i class="fa-solid fa-cube"></i>   Reed Tyhuis</h3></a>
        <button id="btn" class="toggler" type="button" >
          <i id="menu" class="fa-solid fa-bars"></i>
          <i id="cancel" class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </nav>
