<%- include('../partials/header.ejs') %>

<div id="about">
    <div id="about-content" class="container">
        <div class="d-flex flex-md-row flex-column align-items-center">
            <div class="me-about d-flex flex-column justify-content-center align-items-center">
                <h1>Reed Tyhuis</h1>
                <p>I am a seasoned software expert who has developed products for enterprise clients such as Intuit, Yale University, and Hewlett-Packard (HP), as well as many venture-backed businesses. I specialize in building applications specific to the business needs of my clients. I have done work in software development, mobile app creation, front-end/back-end web, database/server management, graphic design, and video game development.</p>
            </div>
            <div class="me-about d-flex justify-content-center align-items-center">
                <img src="/imgs/HeadshotBlack.png" class="img-fluid" alt="Reed Tyhuis">
            </div>
        </div>
    </div>

    <div>
        <div class="d-flex flex-md-row flex-column justify-content-center">
            <div class="quality d-flex justify-content-center align-items-center">
                <h1>01. Research</h1>
                <p>Understand the client’s subject matter completely and build on the knowledge related to it, becoming intimately familiar with the subject matter. Determine methods to address the specific customer’s needs and requirements.</p>
            </div>
            <div class="quality d-flex justify-content-center align-items-center">
                <h1>02. Design</h1>
                <p>Misleadingly thought of as the superficial appearance of a product, design actually encompasses a lot more. It is a cross functional process that includes market research, technical research, design of a concept, and prototype mockup.</p>
            </div>
            <div class="quality d-flex justify-content-center align-items-center">
                <h1>03. Develop</h1>
                <p>Findings from the research and design phases are utilized for the production of specific products including materials, systems, and methods. Engineer utilizing the research and designs to produce commercial products for the customer.</p>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>