<%- include('../partials/header.ejs') %>

<div id="about">
    <div id="about-content" class="container">
        <div class="d-flex flex-md-row flex-column align-items-center">
            <div class="me-about d-flex flex-column justify-content-center align-items-center">
                <h1>Reed Tyhuis</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At repudiandae dolore eos consectetur dicta, eveniet perspiciatis numquam, nisi dolor vel ullam possimus vero labore. Nostrum sequi quae accusantium esse nobis!</p>
            </div>
            <div class="me-about d-flex justify-content-center align-items-center">
                <img src="/imgs/HeadshotBlack.png" class="img-fluid" alt="Reed Tyhuis">
            </div>
        </div>
    </div>

    <div>
        <div class="d-flex flex-md-row flex-column justify-content-center">
            <div class="quality d-flex justify-content-center align-items-center">
                <h1>quality #1</h1>
            </div>
            <div class="quality d-flex justify-content-center align-items-center">
                <h1>quality #2</h1>
            </div>
            <div class="quality d-flex justify-content-center align-items-center">
                <h1>quality #3</h1>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>