<%- include('../partials/header.ejs') %>

<div>
    <div id="home" class="d-flex justify-content-center align-items-center">
        <h1 class="me">Hello, I'm Reed Tyhuis.<br>I'm a software developer.</h1>
    </div>

    <div class="overlay"></div>
</div>

<div class="info">
    <div id="content" class="container">
        <div class="row d-flex justify-content-around">
            <div class="icons col-lg-3 col-md-6 col-12">
                <i class="fa-solid fa-atom"></i>
            </div>
            <div class="icons col-lg-3 col-md-6 col-12">
                <i class="fa-solid fa-atom"></i>
            </div>
            <div class="icons col-lg-3 col-md-6 col-12">
                <i class="fa-solid fa-atom"></i>
            </div>
            <div class="icons col-lg-3 col-md-6 col-12">
                <i class="fa-solid fa-atom"></i>
            </div>
        </div>

        <div class="d-flex flex-md-row flex-column">
            <div class="mx-5"></div>

            <div class="text-md-end fw-bold mt-5">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae optio, iusto nostrum repellendus consequuntur praesentium eveniet amet quidem tempora quis in sapiente. Sequi, voluptates culpa. Possimus odit dolores odio quibusdam!</p>
            </div>

            <div class="mx-3"></div>

            <div class="text-md-start mt-5">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis optio asperiores quisquam natus facilis tempore fugit. Fuga dolorem, nobis dicta voluptates aliquam dolorum consequatur similique necessitatibus deserunt voluptatem aliquid repellat.</p>
            </div>

            <div class="mx-5"></div>
        </div>
    </div>
</div>

<div id="other">
    <div class="d-flex flex-md-row flex-column">
        <div class="box d-flex justify-content-center align-items-center">
            <a href="about">
                <h1 class="bord p-5">ABOUT</h1>
            </a>
        </div>
    
        <div class="box d-flex justify-content-center align-items-center">
            <a href="contact">
                <h1 class="bord p-5">CONTACT</h1>
            </a>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs') %>