<%- include('../partials/header.ejs') %>

<div>
    <div id="home" class="d-flex justify-content-center align-items-center">
        <div class="mediv fade-1"><h1 class="me">Hello, I'm Reed Tyhuis.<br>I'm a software developer.</h1></div>

        <div id="scroll-down" class="d-flex align-self-end pb-5">
            <button id="scroll-style"><i class="fa-solid fa-chevron-down fade-1"></i></button>
        </div>
    </div>

    <div class="overlay"></div>
</div>

<div class="info">
    <div id="content" class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-md-3 d-lg-none"></div>

            <div class="icons col-lg-3 col-md-3 col-12">
                <i class="fa-solid fa-atom"></i>
                <p class="fw-bold keyword">keyword</p>
            </div>
            <div class="icons col-lg-3 col-md-3 col-12">
                <i class="fa-solid fa-atom"></i>
                <p class="fw-bold keyword">keyword</p>
            </div>

            <div class="col-md-3 d-lg-none"></div>
            <div class="col-md-3 d-lg-none"></div>

            <div class="icons col-lg-3 col-md-3 col-12">
                <i class="fa-solid fa-atom"></i>
                <p class="fw-bold keyword">keyword</p>
            </div>
            <div class="icons col-lg-3 col-md-3 col-12">
                <i class="fa-solid fa-atom"></i>
                <p class="fw-bold keyword">keyword</p>
            </div>

            <div class="col-md-3 d-lg-none"></div>
        </div>


        <div class="container d-flex flex-md-row flex-column">
            <div id="left-text" class="text-md-end fw-bold mt-5">
                <p>Hi. I'm Reed, nice to meet you. Please take a look around!</p>
            </div>

            <div class="mx-3"></div>

            <div id="right-text" class="text-md-start mt-5">
                <p>I am passionate about building excellent software that improves the lives of those around me. I specialize in creating software for clients ranging from individuals and small-businesses all the way to large enterprise corporations. What would you do if you had a software expert available at your fingertips?</p>
            </div>
        </div>
    </div>
</div>

<div id="other">
    <div class="d-flex flex-md-row flex-column">
        <div class="box d-flex justify-content-center align-items-center">
            <a href="about">
                <h1 class="bord p-5">ABOUT</h1>
            </a>
        </div>
    
        <div class="box d-flex justify-content-center align-items-center">
            <a href="contact">
                <h1 class="bord p-5">CONTACT</h1>
            </a>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs') %>