body {
    font-family: 'Montserrat', serif;
}


/* header */
.toggler {
    z-index: 100;
    color: #B3BAC2;
    font-weight: bold;
    font-size: 220%;
    background: none;
    border: none;
}

.toggler:hover {
    color: white;
}

.brand {
    z-index: 100;
    color: #B3BAC2;
    font-weight: bold;
}


#menu {
    display: block;
}

#cancel {
    display: none;
}


#hide {
    display: none;
    transition: 1s;
}


#drop-down {
    z-index: 1000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background:rgba(45, 45, 45, 0.953);
}

.page {
    color: #B3BAC2;
    font-weight: bold;
}

.page:hover {
    color: white;
}





/* HOME page */
#home {
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url('/imgs/pacman.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mediv {
    position: absolute;
    min-height: 15%;
    z-index: 100;
}

.me {
    color: #B3BAC2;
    font-weight: 800;
}

.name {
    color: #BE003E;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#scroll-down {
    z-index: 100;
    transform: scale(2);
    position: absolute;
    transition: 0.5s;
    padding-left: 10%;
    padding-right: 10%;
}

#scroll-down:hover {
    transform: translate(0, 15px) scale(1.5);
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
}

#scroll-style {
    border: none;
    background: none;
    color: #B3BAC2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background:#00000070;
}


.info {
    background-color: #000000;
    color: #B3BAC2;
}

#content {
    position: relative;
    height: auto;
    padding-bottom: 20%;
}

.row {
    text-align: center;
    padding-top: 25%;
}

.icons {
    color: #B3BAC2;
    font-size: 350%;
}

.keyword {
    font-size: medium;
}

#left-text {
    font-size: 250%;
    min-width: 35vw;
    line-height: 100%;
}

#right-text {
    min-width: 40vw;
}

#other {
    position: relative;
    height: auto;
    background-image: linear-gradient(#6D0024, #040814);
}


.box {
    color: #B3BAC2;
    width: 100%;
    padding-top: 25%;
    padding-bottom: 25%;
}


.bord {
    color: #B3BAC2;
    border: 5px solid #B3BAC2;
    border-radius: 10%;
    transition: 0.5s;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.bord:hover {
    color: white;
    border-color: white;
    transform: scale(1.3);
}








/* about page */
#about {
    position: relative;
    height: auto;
    background-image: linear-gradient(#6D0024, #040814);
    color: #B3BAC2;
}

#about-content {
    padding-top: 15%;
    padding-bottom: 15%;
}

.me-about {
    width: 50%;
    min-height: 40vh;
}

.quality {
    background-color: #040814;
    width: 100%;
    min-height: 60vh;
    transition: 0.5s;
    padding-left: 7%;
    padding-right: 7%;
}

.quality:hover {
    background-color: #09122d;
}

.threeP {
    display: block;
}







/* contact page */
#contact {
    position: relative;
    height: auto;
    min-height: 110vh;
    background-image: linear-gradient(#6D0024, #040814);
    padding-bottom: 5%;
}

.contact-height {
    height: auto;
    padding-top: 5%;
}


input, select, textarea{
    color: #B3BAC2;
}

.input-col {
    color: #B3BAC2;
}

.input {
    background-color: transparent;
    outline: none;
    border: 1px solid #B3BAC2;
    height: 8vh;
    width: 50vw;
    transition: 0.5s;
}

.input:focus {
    border: 1px solid #ffffff;
}

#msg {
    height: 30vh;
}

#send {
    color: #B3BAC2;
    font-weight: bold;
    background: none;
    border: 1px solid #ffffff;
    transition: 1s;
}

#send:hover {
    color: white;
    border-color: white;
}







/* footer */
.footer {
    height: 9vh;
    background-color: black;
    font-size: 140%;
}

#copyright {
    color: #777777;
    font-size: 50%;
}

.link {
    color: #777777;
    transition: 0.5s;
}

.link:hover {
    color: #b1b1b1;
}

